- @recipe.each_slice(3) do |recipes|
	.row
		- recipes.each do |recipe|
			.col-md-4
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.image.url(:medium)
						.col-md-6
							%h2= link_to recipe.title, recipe
						.col-md-6
							%h2{:align => "right", :style => "color:#DB6161;"}= recipe.get_upvotes.size + recipe.get_downvotes.size